version: '3.4'
services:
  portainer:
    image: portainer/portainer:arm
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9000:9000
  dump1090fa:
    image: "filipjonckers/raspbian-dump1090fa"
    build: ./dump1090fa
    container_name: dump1090fa
    restart: always
    privileged: true
    volumes:
     - ./dump1090fa/data:/var/run/dump1090-fa
     - ./dump1090fa/start.sh:/root/dump1090/start.sh 
    ports:
     - "80:8080"
     - "8080:8080"
     - "30001:30001"
     - "30002:30002"
     - "30003:30003"
     - "30004:30004"
     - "30005:30005"
     - "30104:30104"
    env_file:
      - ./dump1090fa/dump1090fa.conf
  piaware:
    image: "filipjonckers/raspbian-flightaware"
    build: ./flightaware
    container_name: piaware
    restart: always
    depends_on:
      - dump1090fa
    volumes:
      - ./flightaware/piaware.conf:/etc/piaware.conf
    ports:
      - "30105:30105"
      - "30106:30106"
  fr24:
    image: "filipjonckers/raspbian-flightradar24"
    build: ./fr24
    container_name: fr24
    restart: always
    depends_on:
      - dump1090fa
    ports:
     - "8754:8754"
  adsbexchange:
    image: "filipjonckers/raspbian-adsbexchange"
    build: ./adsbexchange
    container_name: adsbexchange
    restart: always
    depends_on:
      -  dump1090fa
    environment:
      - CUSTOM_PORT=51051
  adsbhub:
    image: "filipjonckers/raspbian-adsbhub"
    build: ./adsbhub
    container_name: adsbhub
    restart: always
    depends_on:
      -  dump1090fa
